<div id="message"></div>
<input type="file" id="fileInput" accept="video/*" #fileInput (change)="loadMovie($event)">

<div id="roomInfo">
    <h2>Room {{name}}</h2>

    <div class="buttons" *ngIf="owner">
        <button id="openFileButton" (click)="openMovieChoice()">O</button>
        <button id="openSubsButton">S</button>
    </div>

    <div class="code-container">
        <span class="code-copy">
            {{ code }}
        </span>
        <button class="code-button" (click)="copyLink()">
            Copy
        </button>
    </div>
</div>

<div id="columns">
    <div id="mainContainer"> <!-- TODO: extract -->
        <video id="videoPlayer" controls #videoNode (playing)="onPlay()"></video>
        <h2 class="title">{{ title }}</h2>

        <button class="code-button" (click)="toggleFullScreen()">
            fullscreen
        </button>
    </div>

    <div id="chatContainer"> <!-- TODO: extract -->
        <div id="usersList">
            <h3>Viewers</h3>
            <ul>
                <li *ngFor="let user of users" [class.owner]="user == ownerUsername">{{user}}</li>
            </ul>
        </div>
        <div id="chat">
            <h3>Chat</h3>
            <div class="message">
                <span class="username">User1</span>
                <span class="text">Test message</span>
            </div>
        </div>
    </div>
</div>