<div id="message"></div>
<input type="file" id="fileInput" accept="video/*" #fileInput (change)="loadMovie($event)">

<div id="roomInfo">
    <h2>Room {{name}}</h2>
    <p>{{code}}</p>
    <button id="openFileButton" (click)="openMovieChoice()">O</button>
    <button id="openSubsButton">S</button>
</div>

<div id="columns">
    <div id="mainContainer"> <!-- TODO: extract -->
        <video id="videoPlayer" controls #videoNode></video>
        <div id="title">Title</div>
        <button class="test" (click)="startStream()">stream</button>
        <button class="test" (click)="getStream()">get</button>
    </div>

    <div id="chatContainer"> <!-- TODO: extract -->
        <div id="usersList">
            <h3>Users in the room:</h3>
            <ul>
                <li>User 1</li>
            </ul>
        </div>
        <div id="chat">
            <h3>Chat</h3>
        </div>
    </div>
</div>