:host {
    width: 100%;
}

#columns {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 50px;
    gap: 25px;
}

#roomInfo {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#openFileButton,
#openSubsButton {
    background-color: #a6da95;
    color: #8087a2;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}

#openFileButton {
    margin-right: 10px;
}

#openFileButton:hover,
#openSubsButton:hover {
    background-color: #8bd5ca;
}

#usersList {
    margin-bottom: 20px;
    font-size: 16px;
}

#mainContainer {
    width: calc(100% - 175px);
}

#videoPlayer {
    width: 100%;
}

#chatContainer {
    width: 150px;
}

#chat, #usersList {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #1e2030;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.nav {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

#fileInput {
    display: none;
}

#testVideo {
    width: 150px;
}

.code-button {
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 20px;
    color: white;
    font-variant: small-caps;
    background-color: #a6da95;
    padding: 5px 14px;
    font-size: 14px;
    font-weight: 700;
}

.code-button:hover {
    background-color: #8bd5ca;
}

.code-container {
    background-color: #1e2030;
    padding: 10px 5px;
    border-radius: 5px;
    min-width: 150px;
    display: flex;
    justify-content: space-between;
}

.code-copy {
    color: #f0c6c6;
    padding-left: 8px;
    font-size: 14px;
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    margin-bottom: 10px;
}

.title {
    font-weight: 700;
    color: #6e738d;
}