<h2>Register</h2>
<div class="error" *ngIf="error">{{errorMsg}}</div>

<form [formGroup]="registerForm" (ngSubmit)="register()">
  <input type = "text" name = "username" placeholder = "Username" formControlName = "username" autocomplete="username">
  <input type = "password" name = "password" placeholder = "Password" formControlName = "password" autocomplete="new-password">
  <input type = "password" name = "passwordRe" placeholder = "Repeat password" formControlName = "passwordRe" autocomplete="off">

  <input type = "submit" value = "Register">
</form> 
<div class="footer">Already registered? Please <a routerLink="/login">log in</a>.</div>
